[submodule "vendor/public/KIVI"]
	path = vendor/public/KIVI
	url = https://github.com/jy-yuan/KIVI.git
[submodule "vendor/public/KVQuant"]
	path = vendor/public/KVQuant
	url = https://github.com/SqueezeAILab/KVQuant.git
[submodule "vendor/public/Kitty"]
	path = vendor/public/Kitty
	url = https://github.com/Summer-Summer/Kitty.git
